@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FlowVentory</title>
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/layout_fix.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/product_page.css" asp-append-version="true"/>
</head>
<body>
<div class="page-wrapper">
    <div class="app-container">
        <!-- Sidebar -->
        @Html.Partial("_SidebarPartial")

        <!-- Main Content Area -->
        <main role="main" class="main-content pb-3">
            @RenderBody()
        </main>
    </div>
</div>

<script src="~/js/navbar.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
