@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.TagHelpers
<div class="sidebar">
    <div class="sidebar-header">
        <img src="~/img/FlowVentoryLong.png" alt="FlowVentory Logo" class="sidebar-logo" style="width: 100%; height: auto; max-width: 512px; max-height: 512px; object-fit: contain;"/>
    </div>

    <!-- Sidebar buttons -->
    <ul class="sidebar-list">
        <li class="sidebar-list-item @(ViewContext.RouteData.Values["page"]?.ToString() == "/Index" ? "active" : "")">
            <a asp-page="/Index">
                <ion-icon name="home-outline" style="font-size: 18px;"></ion-icon>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar-list-item @(ViewContext.RouteData.Values["page"]?.ToString() == "/Products" ? "active" : "")">
            <a asp-page="/Products">
                <ion-icon name="cart-outline" style="font-size: 18px;"></ion-icon>
                <span>Products</span>
            </a>
        </li>

        <li class="sidebar-list-item @(ViewContext.RouteData.Values["page"]?.ToString() == "/Auth" ? "active" : "")">
            <a asp-page="/Auth">
                <ion-icon name="pie-chart-outline" style="font-size: 18px;"></ion-icon>
                <span>Statistics (now used as Auth)</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="#">
                <ion-icon name="mail-outline" style="font-size: 18px;"></ion-icon>
                <span>Inbox</span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="#">
                <ion-icon name="notifications-outline" style="font-size: 18px;"></ion-icon>
                <span>Notifications</span>
            </a>
        </li>
    </ul>

    <!-- Account details -->
    @Html.Partial("_AccountInfoPartial")
</div>