<div class="account-info">
    <div class="account-info-picture">
        <img src="https://images.unsplash.com/photo-1733886772949-fff9a0885591?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Account">
    </div>
    <div class="account-info-name">@Context.Session.GetString("Username")</div>
    <button class="account-info-more" type="button" id="dropdownMenuButton">
        <ion-icon name="apps-outline"></ion-icon>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Logout</a>
    </div>
</div>